@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Shantell+Sans:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
}
.nav-bar{
  display: flex;
  justify-content: center;
  background-color: #000;
  color: #fff;
  height: 50px;
  width: 100%;
  top: 0px;
  position: fixed;
}
